@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.body {
  font-family: 'Stint Ultra Condensed', sans-serif;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  color: rgb(241, 241, 241);
}
a {
  color: white;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}



body {
   margin: 0;
   padding: 0;
   ...
}

* {
  box-sizing: 100%;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}

html,
body {
  margin: 0;
   padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background: $red;
  font-family: 'Roboto', sans-serif;
  font-weight: 100%;
}

// Main wrap
.buttons {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
}

// Button wrap
.container { 
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0em;
    text-align: center; 
    
    @media (min-width: 100%) {
        flex-direction: row;
        justify-content: space-between;
    }
}

h1 {
  color: $white;
  font-size: 1.25em;
  font-weight: 100%;
  margin: 0 0 0em;
  
  @media (min-width: 100%) {
    font-size: 1.75em;
  }
  
  @media (min-width: 100%) {
    font-size: 3.25em;
  }
  
  @media (min-width: 100%) {
    font-size: 5.25em;
    margin: 0 0 0em;
  }
}

p {
  color: $white;
  font-size: 12px;
  
  @media(min-width: 100%) {
    left: 50%;
    position: absolute; 
    transform: translate(-50%, 0);
    top: 90%;
  }
  
  @media(max-height: 100%) {
    left: 0;
    position: relative;
    top: 0;
    transform: translate(0, 0);
  }
  
  a {
    background: rgba($white, 0);
    border-bottom: 0px solid;
    color: $white;
    line-height: 0;
    padding: 0em;
    text-decoration: none;
    
    &:hover {
      background: rgba($white, 1);
      color: $red;
    }
  }
}
//button styles


//default button
.a {
  color: #fff;
  cursor: pointer;
  // display: block;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 0em;
  max-width: 160px; 
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%; 
  
//   @media(min-width: 400px) {
//     display: inline-block;
//     margin-right: 0em;
  
//     &:nth-of-type(even) {
//       margin-right: 0;
//     }
//   }
  
  @media(min-width: 600px) {
      
    margin: 0 0em 0em;
  
//     &:nth-of-type(even) {
//       margin-right: 0em;
//     }
    
//     &:nth-of-type(5) {
//       margin-right: 0;
//     }
    
  }
  
  &:hover { text-decoration: none; }
  
}

/////////////////////////////////
//button one
///////////////////////////////
.a {
  background: darken($red, 1.5%);
  font-weight: 100;
  
  svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0; 
    width: 100%; 
  }
  
  rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
  }
}

.a:hover {
  background: rgba($red, 0);
  font-weight: 900;
  letter-spacing: 1px;
  
  rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
}






.nav-content li {
  display: inline-block;
  margin: 2.5em;
}

.nav-content a {
  text-decoration: none;
}
.nav-content a:hover {
  color: white;
 text-decoration: underline;
}




.header img {
  width: 50px;
  height: 50px;
  margin-bottom: 2px;
}
.header-links {
  display: inline-block;
  margin: 1.5em;
}
.header-links img {
  width: 25px;
  height: 25px;
  margin-left: 2em;
  margin-right: 0.85em;
}
.header-links a {
  text-decoration: none;
}
.rest-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rest-nav img {
  width: 105px;
  height: 105px;
}
.rest-nav div {
  padding: 1.5em;
}
.rest-nav a {
  text-decoration: none;
  font-size: larger;
}
.rest-nav a:hover {
  text-decoration: underline;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-body {
  display: flex;
  flex-direction: column;
}
.zig-zag {
  display: flex;
  flex-direction: column;
}
.video iframe {
  width: 600px;
  height: 454px;
  border: none;
}
.nto-links {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #333333;
}
.upper-links {
  display: flex;
  background-color: #333333;
  justify-content: space-between;
}
.upper-links a {
  background-color: #333333;
  text-decoration: none;
}
.upper-links div {
  margin: 2em;
  background-color: #333333;
}
.lower-links {
  display: flex;
  background-color: #333333;
  justify-content: space-between;
}
.lower-links a {
  background-color: #333333;
  text-decoration: none;
}
.lower-links div {
  margin: 2em;
  background-color: #333333;
}
.new-album {
  display: flex;
  flex-direction: column;
  background-color: #333333;
}
.new-album-links {
  display: flex;
  flex-direction: column;
  background-color: #333333;
}
.new-album-img {
  background-color: #333333;
}
.out {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: x-large;
  padding-left: 170px;
  background-color: #333333;
}
.new-album-upper-links {
  display: flex;
  background-color: #333333;
  justify-content: center;
}
.new-album-upper-links a {
  background-color: #333333;
  text-decoration: none;
  margin: 0 20px;
}
.new-album-upper-links a:hover {
  background-color: #333333;
  text-decoration: underline;
}
.new-album-lower-links {
  display: flex;
  flex-direction: column;
}
.stream {
  background-color: #333333;
  padding-left: 256px;
  padding-top: 20px;
}
.new-album-lower-div {
  display: flex;
  flex-direction: column;
  background-color: #333333;
}
.new-album-lower-div1 {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0px;
  background-color: #333333;
}
.new-album-lower-div2 {
  display: flex;
  justify-content: space-evenly;
  background-color: #333333;
  padding-bottom: 40px;
}
.new-album-lower-div1 a {
  text-decoration: none;
  background-color: #333333;
}
.new-album-lower-div2 a {
  text-decoration: none;
  background-color: #333333;
}
.new-album-lower-div2 a:hover {
  text-decoration: underline;
}
.new-album-lower-div1 a:hover {
  text-decoration: underline;
}
.join-us {
  display: flex;
  flex-direction: column;
}
.tour {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: x-large;
  padding-left: 170px;
  background-color: #333333;
}
.schedule {
  background-color: #333333;
}
.schedule ul {
  background-color: #333333;
}
.schedule li {
  background-color: #333333;
}
.schedule span {
  background-color: #333333;
}
.live {
  padding-bottom: 35px;
  font-size: large;
  padding-left: 170px;
  background-color: #333333;
}
.live a {
  background-color: #333333;
  padding: 5px 45px;
  border: 2px solid white;
  text-decoration: none;
}
.live a:hover {
  text-decoration: underline;
}
.love {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.love img {
  margin-top: 5px;
  height: 200px;
  width: 200px;
}
.love div {
  margin: 10px 0;
}
.footer-links {
  display: inline-block;
  margin-top: 45px;
  margin-bottom: 40px;
}
.about {
  margin-top: 25px;
  display: inline-block;
  font-size: x-large;
  font-weight: bold;
  max-width: 860px;
  padding: 0 0 20px 0px;
  word-break: break-all;
  border-bottom: white 3px solid;
}
.about-live {
  margin: 25px 0;
  background-color: #333333;
  display: inline-block;
  font-size: large;
  max-width: 860px;
  padding: 15px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.mail-section {
  padding-left: 50px;
}
